{% load static %}
<!DOCTYPE html>
<html>
  <head>
  	<meta charset='utf-8'>
  	<link rel="stylesheet" href="{%static 'style.css'%}">
  </head>
  <body>
    <header class="wrapper">
    <h1><a href="{% url 'home' %}"><img src="{% static 'logo.png' %}"/></a></h1>
      <nav>
        <ul>
          {% if user.is_authenticated %}
          <li>
            <form class="logout-link" action="{% url 'accounts:logout' %}" method='post'>
              {% csrf_token %}
              <button type="submit" style = "color: red; font-size: 2rem; font-weight: bolder;">Logout</button>
            </form>
          </li>
          {% else %}
          <li>
            <a href="{% url 'accounts:login' %}" style = "color: red; font-size: 2rem; font-weight: bolder;">Login</a>
          </li>
          <li>
            <a href="{% url 'accounts:signup' %}" style = "color: red; font-size: 2rem; font-weight: bolder;">Signup</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </header>
  	<div class='wrapper'>
  	  {% block content %}
  	  {% endblock %}
  	</div> 
  </body>
</html